.pokemon_card {
    margin: 0;
    top: 45%;

    width: 500px;
    height: fit-content;


    border-radius: 20px;
    padding: 20px;
    margin-top: 3%;

    color: #8d8d8d;

    background-color: #eeb45a;
}

.pokemon_card > h1 {
    color: #207394;
}

.pokemon_card {
    margin-top: 0;
    border-radius: 50px;
    background: white;
    box-shadow:  9px 9px 18px #ebc2c2,
    -9px -9px 18px #ffd2d2;
}

.pokemon_card > img {

    object-fit: contain;
    width: 100%;
    max-width: 500px;
}

.statBar {
    background-color: red;
    border-radius: 10px;
}

.statBar > div {
    margin-left: 10px;
}

.pokemonContainer {
    display: flex;
    justify-content: center;
}

.stat-bars {
    color: black;

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
    inset -20px -20px 60px #ffffff;
}

.type {
    color: white;
}

.pokemon-order {
    background-color: #c9bc8e;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
    margin-right: 10px;
    color: white;
}

.pokemon-title > div {
    display:inline;
}
